.App.light-mode {
  background-color: white;
  color: black;
}

.App.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .about-container1,
.dark-mode .hero-section {
  background-color: #1e1e1e;
  color: white;
}

.light-mode .about-container1,
.light-mode .hero-section {
  background-color: #f0f0f0;
  color: black;
}
